.newsDetailBox{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top:46px ;
    background: #ffffff;
    padding: 0.1rem;
    overflow-y: auto;
    box-sizing: border-box;
}
.newsDetailTitle{
    font-size: 0.13rem;
    color: #7f7e7e;
    text-align: center;
    width: 100%;
    line-height: 0.24rem;
    margin-bottom: 0.13rem;
}
.newsDetailTime{
    text-align: center;
    color: #7f7e7e;
    font-size: 0.12rem;
}
.newsDetailContent{
    margin-top: 0.24rem;
    font-size: 0.13rem;
    color: #7F7E7E;
    text-indent: 0.26rem;
    letter-spacing: 0.02rem;
    line-height: 0.24rem;
}